@import '../../../variables.scss';

main{
    display: flex;
    flex-direction: column;
    
}

::ng-deep .mat-paginator-outer-container {
    display: flex;
}

::ng-deep .mat-paginator-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
}
