<main class="details__main">
    <button class="details__button">Back to Movies</button>
    <section class="details__section">
        <div class="details__div-img">
            <img class="details__img" src="" alt="">
        </div>
        <div class="details__div-details">
            <h1 class="details__movie-title"></h1>
            <h2 class="details__movie-year"></h2>
            <h2 class="details__movie-genre"></h2>
            <h2 class="details__movie-overview"></h2>
            <p class="details__movie-overview-text"></p>
        </div>
    </section>
</main>