@import "../../../variables.scss";

.cards__list_container {
  padding: 60px 0px;
  background-color: $color-four;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.cards__container {
  width: 250px;
  height: 480px;
  background-color: $color-two;
  color: $color-zero;
  border-radius: 10px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10px rgb(146, 197, 236);
    cursor: pointer;
  }
}


.cards__anchor_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: $color-zero;
  &:active,:visited,:link,:hover{
    color: $color-zero;
  }
}

.cards__image {
  width: 250px;
  height: 380px;
  border-radius: 10px 10px 0px 0px;
}

.cards__title {
  font-family: $font-one;
  font-size: 1.5rem;
  text-align: center;
}

.cards__date {
  font-family: $font-two;
  margin-top: -15px;
}