@import "../../../variables.scss";

.filter__container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: $color-two;
}

.filter__filter-options, .filter__sort-options {
    width: 130px;
    height: 30px;
    font-family: $font-one;
    text-align: center;
    background-color: $color-zero;
    color: $color-one;
    border: none;
    box-shadow: 10px;
    border-radius: 5px;
    cursor: pointer;
    &:active, &::backdrop{
        border: none;
    }
}

.filter__button {
    width: 130px;
    height: 30px;
    font-family: $font-one;
    text-align: center;
    background-color: $color-one;
    color: $color-zero;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: $color-three;
        color: $color-one;
    }
}

option {
    font-family: $font-one;

}