<form [formGroup]="formMovies">
  <select class="filter" formControlName="genreValue" (change)="onGenreSelectionChange()">
    <option value="" disabled selected>Choose a Genre</option>
    <option *ngFor="let genre of genresArray" [value]="genre.id">
      {{ genre.name }}
    </option>
  </select>
   
  <select class="sort" formControlName="sortValue" (change)="onGenreSelectionChange()">
    <option disabled selected value="">Sort by type</option>
    <option *ngFor="let sortOption of sortingArray" [value]="sortOption.value">
      {{ sortOption.label }}
    </option>
  </select>
  <button (click)="resetFilters()">Restablecer Filtros</button>
</form>
