<form class="filter__container" [formGroup]="formMovies">
  <select class="filter__filter-options" formControlName="genreValue" (change)="onGenreSelectionChange()">
    <option [ngValue]="null">Choose a Genre</option>
    <option *ngFor="let genre of genresArray" [value]="genre.id">
      {{ genre.name }}
    </option>
  </select>
   
  <select class="filter__sort-options" formControlName="sortValue" (change)="onSortSelectionChange()">
    <option [ngValue]="null">Sort by type</option>
    <option *ngFor="let sortOption of sortingArray" [value]="sortOption.value">
      {{ sortOption.label }}
    </option>
  </select>
  <button class="filter__button" (click)="resetFilters()">Restablecer Filtros</button>
</form>