@import '../../../variables.scss';

footer{
    height: 8vh;
    background-color: $color-one;
    color:$color-zero;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: $font-two;
}