// colors
$color-zero: #DDF2FD;
$color-one: #164863;
$color-two: #427D9D;
$color-three: #9BBEC8;
$color-four: #DDF2FD;

// fonts

$font-one:'Roboto Condensed', sans-serif;
$font-two: 'Raleway', sans-serif;