@import "../../../variables.scss";

header {
  height: 15vh;
  background-color: $color-one;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-family: $font-one;
  font-size: 3rem;
}

a {
  color: $color-zero;
  text-decoration: none;

  &:hover {
    color: $color-three;
  }
  &:link {
    color: $color-four;
  }
  &:active {
    color: $color-two;
  }
}
