@import '../../../variables.scss';

header {
    height: 15vh;
    background-color: $color-one;
    color: $color-zero;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: $font-one;
    font-size: 1.6rem;

}

